$border-color: #ebf0f9;
$text-color: #3a3e40;
$footer-color: #9ba8b0;

$status-ok: #ffffff;
$status-warning: #da7a12;
$status-error: #bb0b0b;

$fc-border-color: rgba(235, 240, 249, 0.2);
$fc-text-color: #ffffff;
$fc-footer-color: rgba(255, 255, 255, 0.6);
